<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Particular Blog</title>
</head>
<body>
    
    <% if(blog != null ) { %>

       
      
      
        <div>
      
          <div>
            <img src="/blogimages/<%- blog.image %>" alt="<%- blog.blogname %>" loading="lazy">
          </div>
      
          <div>
            <div>
              <div><h1><%- blog.blogname %></h1></div>
              <div><i></i> <%- blog.category %></div>
              <div class="col-12">
                <h4>Discription</h4>
                <%- blog.discription %>
              </div>
            </div>
      
            <div>
              <div>
                <h4>Written By</h4>
                <%- blog.name %>
                  
                </ul> 
              </div>
            </div>
          </div>
        </div>
      <% } else { %>
        <p>No item found.</p>
      <% } %>

</body>
</html>